:root {
  --lt-red-cta-text: hsl(356, 100%, 66%);
  --vy-dk-blue-hdg: hsl(208, 49%, 24%);
  --white-txt: hsl(0, 0%, 100%);
  --grayish-blue-footer-txt: hsl(240, 2%, 79%);
  --vy-dk-grayish-blue-body: hsl(207, 13%, 34%);
  --vy-dk-blk-blue-footerbkgnd: hsl(240, 10%, 16%);
  --very-lt-red-bkgnd-mobile-cta-nav: hsl(13, 100%, 72%);
  --lt-red-bkgnd-mobile-cta-nav: hsl(353, 100%, 62%);
  --vy-dk-gray-blue-bkgnd-body: hsl(237, 17%, 21%);
  --vy-dk-desat-blue-bkgnd-body: hsl(237, 23%, 32%);
  --vy-lt-red-cta-hover-bkgnd: hsl(355, 100%, 74%);
  font-family: Overpass, Ubuntu, Arial, sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* resets */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
*, :before, :after {
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.25;
  margin: 0 auto;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  max-width: 1440px;
  min-height: 100vh;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  /* font-size: 3.2em; */
  line-height: 1.5;
}

button {
  border-radius: 20px;
  border: none;
  padding: 0.6em 1.5em;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



img {
  display: block;
  width: 100%;
  height: auto;
}


